
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #F0F2F2;
}
body {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'AvenirNext-Medium';
    margin: 0px;
}

@font-face {
    font-family: 'Billabong'; /*a name to be used later*/
    src: url('../assets/font/Billabong.ttf');
}



.titleContent {
    font-family: 'Billabong','Courier New', 'Marko One', serif;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 75px;
}

.textContent {
    font-family: 'Billabong', 'Marko One', serif;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 30px;

}

.image-item {
    font-family: 'cursive';
    /*position: relative;*/

}

.image-item img.image-item-image{
    width: 100%; 
    height: 175px;
    /*position: relative;*/
    color: #517fa4;

}

.image-item p.image-item-title{
     width: 70%; 
     height: 80%;
     text-align: left;
     font-size: 20px;
     font-family: "Arial";
     position: relative;
     color: #517fa4;

}

.image-item p.image-item-subtitle{
    width: 100%; 
    height: 80%;
    font-family: "cursive";
    color: black;
 /* font-size: 40px;
    font-weight: 600;
    word-break: break-all;
    word-wrap: break-word;*/
    position: relative;
}

.off {
    color: #FFFFFF;
    background-color: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #595959 1%, #383838 4%, #101010 98%, #000000 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #000000 0%,#595959 1%,#383838 4%,#101010 98%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%,#595959 1%,#383838 4%,#101010 98%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%,#595959 1%,#383838 4%,#101010 98%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%,#595959 1%,#383838 4%,#101010 98%,#000000 100%); /* W3C */
}

.on {
    color: #D0D0D0;
    background-color: #B8B8B8 ; /* Old browsers */
    background: -moz-linear-gradient(top, #212121 0%, #0f0f0f 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #212121 0%,#0f0f0f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #212121 0%,#0f0f0f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #212121 0%,#0f0f0f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #212121 0%,#0f0f0f 100%); /* W3C */
    box-shadow: #000 0px 0px 3px 2px inset;
}

